/* * {
  margin: 1rem;
} */
body {
  font-family: "Arial", sans-serif;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  text-align: center;
  background-color: grey;
  color: white;
}

td {
  text-align: center;
}

button {
  background-color: #008cba;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 5px;
}

button:hover {
  background-color: #005a70;
}

.head {
  height: 7rem;
  color: white;
  background: #333;
  text-align: center;
  padding-top: 3rem;
}
